<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526646847208-vos2863oeg853mv0ffvj5ilbovkr0fmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526646847208-vos2863oeg853mv0ffvj5ilbovkr0fmr</string>
	<key>API_KEY</key>
	<string>AIzaSyCM7FxtHRcYYYxJ4UkacBrDytwbPdqcMI4</string>
	<key>GCM_SENDER_ID</key>
	<string>526646847208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.romiApp.romi</string>
	<key>PROJECT_ID</key>
	<string>romi-df78d</string>
	<key>STORAGE_BUCKET</key>
	<string>romi-df78d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526646847208:ios:7f65ab766dbc862d0bcb5d</string>
	<key>DATABASE_URL</key>
	<string>https://romi-df78d.firebaseio.com</string>
</dict>
</plist>